/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
--------------------------------------------------------------*/
.checkmark {
  display: inline-block;
  transform: rotate(45deg);
  height: 25px;
  width: 12px;
  margin-left: 60%; 
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}

.element {
  text-shadow: 0 0 3px #000000;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  display: inline-block;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 22px;
  line-height: 32px;
  padding: 12px 16px;
  
  -webkit-touch-callout: none; /* iOS safari */
  -webkit-user-select: none;   /* safari */
  -khtml-user-select: none;    /* konquerer html */
  -moz-user-select: none;      /* old firefox */
  -ms-user-select: none;       /* ie and edge */
  user-select: none;           /* others */
}

.blue {
background-color: #36adbf;
box-shadow: 1px 1px 5px #000, inset 1px 1px 2px #28a5b8, 0 0 2px #36adbf, inset 0 18px 0 #3bc0d4;
}

.blue:hover {
background-color: #3abbcf;
box-shadow: 1px 1px 5px #000, inset 1px 1px 2px #2cb5c9, 0 0 2px #83ca32, inset 0 18px 0 #42d4eb;
}

.blue:active {
background-color: #3abbcf;
box-shadow: inset 1px 1px 2px #2cb5c9, 0px 0 3px #000, inset 0 18px 0 #42d4eb;
}

.bold {
  font-weight: bold;
}
